#counter {
	margin: 0;
	opacity: 0;
	height: 0;
	transition: opacity 0.6s;
}

#counter.anim-fin {
	height: auto;
	opacity: 0.6;
}

.botonLlamada{
	padding:5%;
	margin: 10vw;
/*	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 
	height:100px;
	width: 100px;
	transition: width 1s, height 1s;*/
	transform: scale(1,1);
	transition: all 1s;
}

.disclaimer {
	margin-top:30vh;
	position: absolute;
	transition: opacity 0.6s;
}

.disclaimer.anim-1 {
	opacity: 0;
}

.disclaimer.anim-fin {
	display:none;
}

body {
	background-color: #212121;
}

.gradient {
	height: 80vh;
	overflow: visible;
	background-image: linear-gradient(to bottom, black, #212121);
	display:none;
}

.gradient.anim-fin {
	display:block;
}

.image-container {
	overflow: hidden;
}

.imagen-de-llamada {
	padding: 12vw;
	transition: all 0.6s;
}

.imagen-de-llamada.anim-2 {
	transform:scale(1.32);
	border-radius:0;
}

.texto-llamada {
	transition: opacity 0.6s;
}
.texto-llamada.anim-fin {
	display: none;
}