.botonLlamada{
	padding:5%;
	margin: 10vw;
}

body {
	background-color: #212121;
}

.gradient {
	height: 85vh;
	background-image: linear-gradient(to bottom, black, #212121);
}

.imagen-de-llamada{
	padding: 10vw;
}